.show-main__contents__left
  %ul.show-main__contents__left--list__top
    %li.show-main__contents__left--list__top__item
      = link_to "/users/#{current_user.id}" do
        %h6 マイページ
        %i.fas.fa-chevron-right.menu-icon
    %li.show-main__contents__left--list__top__item
      = link_to "#" do
        %h6 お知らせ
        %i.fas.fa-chevron-right.menu-icon 
    %li.show-main__contents__left--list__top__item
      = link_to "#" do
        %h6 お気に入り一覧
        %i.fas.fa-chevron-right.menu-icon
    %li.show-main__contents__left--list__top__item
      = link_to "#" do
        %h6 出品する
        %i.fas.fa-chevron-right.menu-icon
    %li.show-main__contents__left--list__top__item
      = link_to "#" do
        %h6 出品した商品---出品中
        %i.fas.fa-chevron-right.menu-icon
    %li.show-main__contents__left--list__top__item
      = link_to "#" do
        %h6 出品した商品---取引中
        %i.fas.fa-chevron-right.menu-icon
    %li.show-main__contents__left--list__top__item
      = link_to "#" do
        %h6 出品した商品---売却済
        %i.fas.fa-chevron-right.menu-icon
    %li.show-main__contents__left--list__top__item
      = link_to "#" do
        %h6 購入した商品---取引中
        %i.fas.fa-chevron-right.menu-icon
    %li.show-main__contents__left--list__top__item
      = link_to "#" do
        %h6 購入した商品---過去の取引
        %i.fas.fa-chevron-right.menu-icon
    %li.show-main__contents__left--list__top__item
      = link_to "#" do
        %h6 ニュース一覧
        %i.fas.fa-chevron-right.menu-icon
    %li.show-main__contents__left--list__top__item
      = link_to "#" do
        %h6 評価一覧
        %i.fas.fa-chevron-right.menu-icon
    %li.show-main__contents__left--list__top__item
      = link_to "#" do
        %h6 ガイド
        %i.fas.fa-chevron-right.menu-icon
    %li.show-main__contents__left--list__top__item
      = link_to "#" do
        %h6 お問い合わせ
        %i.fas.fa-chevron-right.menu-icon
  %h3 売り上げ・ポイント
  %ul.show-main__contents__left--list__bottom
    %li.show-main__contents__left--list__bottom-item
      = link_to "#" do
        %h6 売り上げ・振り込み申請
        %i.fas.fa-chevron-right.menu-icon
    %li.show-main__contents__left--list__bottom-item
      = link_to "#" do
        %h6 ポイント
        %i.fas.fa-chevron-right.menu-icon
  %h3 設定
  %ul.show-main__contents__left--list__footer
    %li 
      = link_to "#" do
        %h6 プロフィール
        %i.fas.fa-chevron-right.menu-icon
    %li.show-main__contents__left--list__footer-item
      = link_to "#" do
        %h6 住所特定
        %i.fas.fa-chevron-right.menu-icon
    %li.show-main__contents__left--list__footer-item
      = link_to "/cards/new" do
        %h6 支払い方法
        %i.fas.fa-chevron-right.menu-icon
    %li.show-main__contents__left--list__footer-item
      = link_to "#" do
        %h6 メール/パスワード
        %i.fas.fa-chevron-right.menu-icon
    %li.show-main__contents__left--list__footer-item
      = link_to "#" do
        %h6 本人情報
        %i.fas.fa-chevron-right.menu-icon
    %li.show-main__contents__left--list__footer-item
      = link_to "#" do
        %h6 電話番号の確認
        %i.fas.fa-chevron-right.menu-icon
    %li.show-main__contents__left--list__footer-item
      = link_to "/mypage/destroy" do
        %h6 ログアウト
        %i.fas.fa-chevron-right.menu-icon