.bgc-gray
  = render 'devise/shared/header'
  .user-login
    = form_with model: @user, url: user_session_path, local: true do |f|
      .user-login__no-account
        %p アカウントをお持ちでない方はこちら
        .user-login--btn
          = link_to "新規会員登録", new_user_registration_path
      .user-login__main
        .user-new__field
          = f.email_field :email, class: "user-new__field--input", placeholder: "例）メールアドレス"
        .user-new__field
          = f.password_field :password, class: "user-new__field--input", placeholder: "例）パスワード"
        .user-new__field
          = f.submit class: "user-new__field--submit", type: "submit", value: "ログイン"
  = render 'devise/shared/footer'
