<<<<<<< Updated upstream
= render 'posts/top__header'
.show-header
  .show-header__contents  FURIMA > マイページ > 支払い方法

.show-main
  .show-main__contents
    .show-main__contents__right
      .show-main__registration-field
        .show-main__container
          .show-main__container--text
            支払い方法
          .show-main__container__section
            .show-main__container__section__content
              - if @cards
                クレジットカード一覧
                = render @cards
        .show-main__container__link
          .show-main__container__link__btn
            = link_to new_card_path do
              カードを追加

    = render 'users/show__left'
  -# footer
  = render 'posts/top__banner'
  = render 'posts/top__footer'
=======
-# = render 'posts/top__header'

-# .show-header
-#   .show-header__contents  FURIMA > マイページ

-# .show-main
-#   .show-main__contents
-#     .show-main__contents__right
-#       =render 'cards/card'
-#     = render 'users/show__left'
-#   -# footer
-#   = render 'posts/top__banner'
-#   = render 'posts/top__footer'
-# = link_to "新規", new_card_path
-# = link_to "マイページ", mypage_users_path
-# = link_to "自分のカード", card_path(current_user)

-# - if @card
- if current_user.card.present?
  -# - @cards.each do |c|
  -#   = c
  -# = @card = current_user.card
  -# = @customer
  -# = @default_card_information
- else
  bb  
>>>>>>> Stashed changes
