%h1 新規投稿


= form_with model: @post, local: true do |form|
  = form.text_field :name
  = form.text_area :introduce
  = form.collection_select :category_id, @parents, :id, :name
  = form.select :status, Post.statuses.keys
  = form.select :delivery_status, Post.delivery_statuses.keys
  = form.select :user_address, Post.user_addresses.keys
  = form.select :shipping, Post.shippings.keys
  = form.text_field :price
  = form.text_field :delivery_fee
  #image-box
    #previews
      - if @post.persisted?
        - @post.post_images.each_with_index do |image, i|
          = image_tag image.image.url, data: { index: i }, width: "100", height: '100'
    = form.fields_for :post_images do |image|
      .js-file_group{"data-index" => "#{image.index}"}
        = image.file_field :image, class: 'js-file'
        %br
        .js-remove
          削除
      
      - if @post.persisted?
        .hidden-destroy
        = image.check_box :_destroy, data:{ index: image.index }
        
    - if @post.persisted?
      .js-file_group{"data-index" => "#{@post.post_images.count}"}
        = file_field_tag :image, name: "post[images_attributes][#{@post.post_images.count}][image]", class: 'js-file'
        .js-remove
          削除
  = form.submit "投稿する"

-# 以下、教室でマークアップ担当者と相談し実装

-# .bgc-gray
-#   -# カラム名をコメントアウトして書いてます。目印で書いてるので、消してokです！
-#   = render 'devise/shared/header'
-#   .post-new__main
-#     -# タイトル--------------------------------------------------------------------------------------
-#     %h1.post-new--top 商品の情報を入力
-#     .post-new__form
-#       -# 商品画像イメージ-----------------------------------------------------------------------------
-#       .post-new__section
-#         .post-new__field
-#           %label
-#             出品画像
-#           %span.form-require
-#             必須
-#           %p 最大4枚までアップロードできます
-#           %ul.post-new__field__uploader
-#             .post-new__field__uploader--info
-#               %p ドラッグアンドドロップ
-#               %p またはクリックしてアップロード
-#             -# image_fieldにはdisplay: none;しなくてokです！
-#             -# 理由は、post-new__field__uploader--itemクラスの中のinputタグにはdisplay: none;を当てるようにしてます。
-#             -# なので、そのままinputタグをimage_fieldを変えたら自動的にdisplay: none;が当たります。
-#             %li.post-new__field__uploader--item
-#               %label 画像1
-#               %input
-#             %li.post-new__field__uploader--item
-#               %label 画像2
-#               %input
-#             %li.post-new__field__uploader--item
-#               %label 画像3
-#               %input
-#             %li.post-new__field__uploader--item
-#               %label 画像4
-#               %input
-#       -# 商品名と商品説明---------------------------------------------------------------------------------
-#       .post-new__section
-#         .post-new__field
-#           %label
-#             商品名
-#           %span.form-require
-#             必須
-#           -# #name
-#           %input.post-new__field--input{ type: "text", placeholder: "40文字まで" }
-#         .post-new__field
-#           %label
-#             商品の説明
-#           %span.form-require
-#             必須
-#           -# #introduce
-#           %textarea.post-new__field--input{ rows: 7, placeholder: "商品の説明（色、素材、重さ、定価、注意点など）" }
-#           -# rowsで行数を指定してます。
-#       -# カテゴリと状態-------------------------------------------------------------------------------------
-#       .post-new__section
-#         .post-new__section--title
-#           商品の詳細
-#           %i.fa.fa-question-circle
-#         .post-new__field
-#           %label
-#             カテゴリ
-#           %span.form-require
-#             必須
-#           -# #category_id
-#           %select.post-new__field--input#category_id
-#             %option 選択してくれー
-#         .post-new__field
-#           %label
-#             商品の状態
-#           %span.form-require
-#             必須
-#           -# #status
-#           %select.post-new__field--input
-#             %option 選択してくれー
-#       -# 配送関係-------------------------------------------------------------------------------------
-#       .post-new__section
-#         .post-new__section--title
-#           配送について
-#           %i.fa.fa-question-circle
-#         .post-new__field
-#           %label
-#             配送料の負担
-#           %span.form-require
-#             必須
-#           -# #delivery_status
-#           %select.post-new__field--input
-#             %option 選択してくれー
-#         .post-new__field
-#           %label
-#             発送元の地域
-#           %span.form-require
-#             必須
-#           -# #user_address
-#           %select.post-new__field--input
-#             %option 選択してくれー
-#         .post-new__field
-#           %label
-#             発送までの日数
-#           %span.form-require
-#             必須
-#           -# #shipping
-#           %select.post-new__field--input
-#             %option 選択してくれー
-#       -# 価格---------------------------------------------------------------------------------
-#       .post-new__section
-#         .post-new__section--title
-#           価格（¥300〜9,999,999）
-#           %i.fa.fa-question-circle
-#         .post-new__field
-#           .post-new__field__money
-#             %div
-#               %label
-#                 販売価格
-#               %span.form-require
-#                 必須
-#             -# #price
-#             %div
-#               ¥
-#               -# #money-inputで入力金額を取得
-#               %input.post-new__field--input#money-input{ type: "number", placeholder: "例）10,000" }
-#         .post-new__field
-#           .post-new__field__money
-#             %div
-#               %label
-#                 販売手数料（10%）
-#             -# #delivery-feeで販売手数料を表示
-#             #delivery-fee
-#               = "-"
-#         .post-new__field
-#           .post-new__field__money
-#             %div
-#               %label
-#                 販売利益
-#             -# #form-profitで販売利益を表示
-#             #form-profit
-#               = "-"
-#       -# 送信ボタン---------------------------------------------------------------------------------
-#       .post-new__section
-#         .post-new__field
-#           .post-new__field__confirmation
-#             %p
-#               禁止されている出品 、 行為 を必ずご確認ください。
-#               %br
-#               またブランド品でシリアルナンバー等がある場合はご記載ください。 偽ブランドの販売 は犯罪であり処罰される可能性があります。
-#               %br
-#               また、出品をもちまして 加盟店規約 に同意したことになります。
-#           .post-new__field
-#             %input.post-new__field__confirmation--submit{ type: "submit", value: "出品する" }
-#           .post-new__field
-#             .post-new__field__confirmation__close
-#               = link_to "閉じる", root_path
-#   = render 'devise/shared/footer'