.bgc-gray
  = render 'devise/shared/header'
  .post-new__main
    -# タイトル--------------------------------------------------------------------------------------
    %h1.post-new--top 商品の情報を入力
    .post-new__form
    = form_with model: @post, local: true do |form|
      .post-new__section
        .post-new__field
          %label
            商品名
          %span.form-require
            必須
          %br
          最大4枚までアップロードできます
          .post-new__field__uploader
            = form.fields_for :images do |image|
              // 写真のプレビューとインプットボタンのul
              %ul#previews.display-flex.width-100
                - @post.post_images.each_with_index do |img, i|
                  %li.image-preview
                    %label.upload-label{style:"display: none;"}
                      .upload-label__text
                        %div
                          %p ドラッグアンドドロップ
                          %p またはクリックしてファイルをアップロード
                      .input-area
                        = image.file_field :name, value: img.image, class: "hidden image_upload"
                        = image.hidden_field :id, value: img.id, name:"post[image][#{i}]"
                    .image-preview__wrapper
                      = image_tag img.image.to_s, class:"preview"
                    .image-preview_btn
                      .image-preview_btn_delete
                        削除

      = render "edit__form", form: form
  = render 'devise/shared/footer'