
.bgc-gray
  -# カラム名をコメントアウトして書いてます。目印で書いてるので、消してokです！
  = render 'devise/shared/header'
  .post-new__main
    -# タイトル--------------------------------------------------------------------------------------
    %h1.post-new--top 商品の情報を入力
    .post-new__form
      -# 商品画像イメージ-----------------------------------------------------------------------------
      = form_with model: @post, local: true do |form|
        .post-new__section
          .post-new__field
            %label
              出品画像
            %span.form-require
              必須
            %p 最大4枚までアップロードできます
            .post-new__field__uploader
              = form.fields_for :post_images do |image|
                // 写真のプレビューとインプットボタンのul
                %ul#previews.display-flex.width-100
                  %li.input.width-100
                  // 画像を取り込むインプットボタン
                  %label.upload-label{for: "sampleId"}
                    .upload-label__text
                      %div
                        %p ドラッグアンドドロップ
                        %p またはクリックしてファイルをアップロード
                    .input-area.display-none
                      = image.file_field :name, class: "hidden image_upload", id: "sampleId"
        -# 商品説明から送信までform
        = render "form", form: form
  = render 'devise/shared/footer'