.bgc-gray
  = render 'devise/shared/header'
  .post-new__main
    -# タイトル--------------------------------------------------------------------------------------
    %h1.post-new--top 商品の情報を入力
    .post-new__form
    = form_with model: @post, local: true do |form|
      -# 商品画像イメージ editと内容が違います------------------------------------------------
      .post-new__section
        .post-new__field
          %label
            商品名
          %span.form-require
            必須
          %br
          最大4枚までアップロードできます
          .post-new__field__uploader
            = form.fields_for :post_images do |image|
              // 写真のプレビューとインプットボタンのul
              %ul#previews.display-flex.width-100
                %li.input.width-100
                  // 画像を取り込むインプットボタン
                  %label.upload-label
                    .upload-label__text
                      %div
                        %p ドラッグアンドドロップ
                        %p またはクリックしてファイルをアップロード
                    .input-area.display-none
                      = image.file_field :image, class: "hidden image_upload"
      -# 商品説明から送信までform
      = render "form", form: form
  = render 'devise/shared/footer'