%li.message
  - if transaction_message.user.id == current_user.id
    .clearfix
      %ul.message-right
        %li.message-right-name
          = transaction_message.user.nickname
        %li.message-content.right-content
          = transaction_message.content
          .date
            = time_ago_in_words(transaction_message.created_at).upcase
            前
  - else
    .message-left.clearfix
      %ul
        %li.message-left-name
          = transaction_message.user.nickname
        %li.message-content
          = transaction_message.content
          .date
            = time_ago_in_words(transaction_message.created_at).upcase
            前